#btnTopo {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff; /* Cor de fundo */
    color: #fff; /* Cor do texto */
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

#btnTopo:hover {
    background-color: #0056b3; /* Cor de fundo ao passar o mouse */
}
