h4 {
  color: aliceblue;
  text-align: center;
  text-transform: uppercase;
  padding: 10px;
}

.gallery {
  padding: 0.5em;
  transition: 0.7s;
}

.image {
  margin: 10px;
  overflow: hidden;
  border-radius: 8px;
}

.image:hover img {
  transform: scale(1.1);
}

.zoom {
  display: block;
  margin: auto;
  transition: transform 0.3s ease-in-out;
  width: 50%;

}

.btnGaleria {
  display: flex;
  justify-content: center;
}

.botoes1 {
  padding: 11px 20px;
  font-size: 20px;
  margin: 20px;

}

button {
  background-color: rgba(101, 101, 255, 0.89);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


button:hover {
  background-color: rgb(223, 236, 247);
  color: black;
  border: 1px solid rgb(99, 99, 226);
  transition: all .3s ease-out;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

.image-wrapper{
  margin: 20px 20px;
}

.containerFotos {
  max-width: 80%;
}