#galeria {
 
}


h4 {
  color: aliceblue;
  text-align: center;
  text-transform: uppercase;
  padding: 10px;
}

.gallery {
  padding: 0.5em;
  transition: 0.7s;
}

.image {
  margin: 10px;
  overflow: hidden;
  border-radius: 8px;
  }

.image:hover img {
  transform: scale(1.1);
}

.zoom {
  display: block;
  width: 50%;
  transition: transform 0.3s ease-in-out;
}