

#container-map1{

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

#body-map{
    
    justify-content:center;
    align-items: 100vh;
    background: #262626;

}

#mapa1 iframe{
    width: 100%;
    height: 100%;
}